"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[tasks]
micro_workers    = 10
macro_workers    = 10
bizarre_retry    = 3
image_alloc      = 536870912  # 512MB
image_bound      = [ 10000, 10000 ]
suppress_preload = false

[mgr]
linemode = "size"

